<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 驼峰命名转换,goods_id=>goodsId，这样能对应实体类-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- 可以从这里default切换测试和生产环境-->
    <environments default="dev">
        <environment id="dev">
            <!-- 采用JDBC方式对数据库事务进行commit/rollback -->
            <transactionManager type="JDBC"></transactionManager>
            <!-- 采用Mybatis自带的连接池方式管理数据库连接 -->
<!--            <dataSource type="POOLED">-->
            <!-- mybatis和druid的整合 -->
            <dataSource type="com.me.oa.datasource.DruidDataSourceFactory">
                <!-- 5.0的mysql就没有cj
                如果是默认连接池POOLOED，这里就是<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                这里是连接池是druid，改为<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
                因为DruidDataSource里面属性名已经规定死了，必须这么写
                -->
                <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
                <!-- characterEncoding和serverTimezone要写对 -->
                <property name="url"
                          value="jdbc:mysql://localhost:3306/me-oa?useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=Asia/Shanghai&amp;allowPublicKeyRetrieval=true"/>
                <property name="username" value="root"/>
                <property name="password" value="1q1q1q1q"/>
                <!-- 连接池初始连接数 -->
                <property name="initialSize" value="10"/>
                <!-- 连接池最大连接数 -->
                <property name="maxActive" value="20"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- 加上这个mapper配置，否则查询找不到对应语句 -->
        <mapper resource="mappers/test.xml"></mapper>
        <mapper resource="mappers/user.xml"></mapper>
        <mapper resource="mappers/rbac.xml"></mapper>
        <mapper resource="mappers/employee.xml"></mapper>
        <mapper resource="mappers/department.xml"></mapper>
    </mappers>
</configuration>